@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    themes: light --default;
   }
   *{
    font-family: "Rancho", cursive;
   }